
@using PagedList.Mvc
@model PagedList.IPagedList<SortFiltPagVezba.Models.Rezervacija>
@{
    ViewBag.Title = "Index";
}

<h2>Rezervacije</h2>

<p class="clearfix">
    @Html.ActionLink("Nova rezervacija", "Create", null, new { @class = "btn btn-primary btn-lg" })
</p>
<br />
<br />
<div class="col-md-6">
    @using (Html.BeginForm("Index", "Sobe"))
    {
        @Html.Label("Datum pocetka")
        @Html.TextBox("DatumPocetka", null, new { @type = "date", @class = "form-control" }) <br />
        @Html.Label("Datum kraja")
        @Html.TextBox("DatumKraja", null, new { @type = "date", @class = "form-control" }) <br />
        @Html.Label("Broj sobe")
        @Html.TextBox("BrojSobe", null, new { @type = "number", @class = "form-control" }) <br />


        @Html.Hidden("sort", (string)ViewBag.chosenSort)
        <input type="submit" value="Pretraga" class="btn btn-warning" />
        <br />
        <br />
        <div>
            @Html.ActionLink("Osvezi tabelu", "Index")
        </div>

    }
</div>

<br />
<br />
<div class="col-md-2">
    @using (Html.BeginForm("Index", "Sobe", FormMethod.Get))
    {
        @Html.DropDownList("sortType", ViewBag.selectionList as SelectList, new { @class = "form-control" })
        <br />
        @Html.Hidden("DatumPocetka", (DateTime?)ViewBag.filter.DatumPocetka)
        @Html.Hidden("DatumKraja", (DateTime?)ViewBag.filter.DatumKraja)
        @Html.Hidden("BrojSobe", (int?)ViewBag.filter.BrojSobe)


        <input type="submit" value="Sortiraj" class="btn btn-primary" />
        <br />

    }
</div>

<br />
@{
    Html.RenderPartial("_RezList");
}

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
